section.clients
    .clients-container
        .clients-item
            img(src="img/clients/client-logo-0.png" alt="client-logo-0.png").clients-item-img
        .clients-item
            img(src="img/clients/client-logo-1.png" alt="client-logo-1.png").clients-item-img
        .clients-item
            img(src="img/clients/client-logo-2.png" alt="client-logo-2.png").clients-item-img
        .clients-item
            img(src="img/clients/client-logo-3.png" alt="client-logo-3.png").clients-item-img
        .clients-item
            img(src="img/clients/client-logo-4.png" alt="client-logo-4.png").clients-item-img