footer.footer
    .footer-container
        ul.footer-list.footer-list__main
            li.footer-list-item
                a.footer-list-link.footer-list-link__logo Piroll Design, Inc.

            li.footer-list-item
                a.footer-list-link &copy; 2017 Piroll. All rights reserved.
            li.footer-list-item
                a.footer-list-link Designed by robirurk.

        ul.footer-list.footer-list__contacts
            li.footer-list-item 
                a.footer-list-link(href="mailto:hello@pirolltheme.com") hello@pirolltheme.com
            li.footer-list-item
                a.footer-list-link(href="tel:+44987065908") +44 987 065 908 

        ul.footer-list.footer-list__links
            li.footer-list-item
                a.footer-list-link Projects
            li.footer-list-item
                a.footer-list-link About
            li.footer-list-item
                a.footer-list-link Services
            li.footer-list-item
                a.footer-list-link Carreer
            li.footer-list-item
                a.footer-list-link News
            li.footer-list-item
                a.footer-list-link Events
            li.footer-list-item
                a.footer-list-link Contact
            li.footer-list-item
                a.footer-list-link Legals

        ul.footer-list.footer-list__social
            li.footer-list-item
                a.footer-list-link Facebook
            li.footer-list-item
                a.footer-list-link Twitter
            li.footer-list-item
                a.footer-list-link Instagram
            li.footer-list-item
                a.footer-list-link Dribbble