section.formblock
    .formblock-container
        h2.formblock-title Need a Project?
        p.formblock-text Let us know what you're looking for in an agency. We'll take a look and see  if this could be the start of something beautiful.

        form.formblock-form.form
            .form-group
                input(type="text", placeholder="Your Name", name="name").form-input.form-input__half.form-input-name
                input(type="email", placeholder="Your Email", name="email").form-input.form-input__half.form-input-email
            input(type="text", placeholder="Your Title", name="title").form-input.form-input-title
            textarea(placeholder="Your Comment" name="comment").form-input.form-input-textarea
            a(type='submit', role="button").form-btn send message
