nav.navigation
    .navigation-container
        img(src="img/vector/royal-spiky-crown.svg").navigation-logo
            
        ul.navigation-list
            li.navigation-list-item home
            li.navigation-list-item about
            li.navigation-list-item work
            li.navigation-list-item process
            li.navigation-list-item services
            li.navigation-list-item testimonials
            li.navigation-list-item contact

        .navigation-button
            .navigation-button-item
            .navigation-button-item
            .navigation-button-item