section.numbers
    .numbers-container
        .numbers-item
           .numbers-item-icon
                img(src="img/vector/portfolio.svg").numbers-item-img
           .numbers-item-wrap
                span.numbers-item-number 687
                span.numbers-item-text projects completed
        .numbers-item
           .numbers-item-icon
                img(src="img/vector/clock.svg").numbers-item-img
           .numbers-item-wrap
                span.numbers-item-number 1435
                span.numbers-item-text WORKING HOURS
        .numbers-item
           .numbers-item-icon
                img(src="img/vector/star.svg").numbers-item-img
           .numbers-item-wrap
                span.numbers-item-number 456
                span.numbers-item-text POSITIVE FEEDBACKS
        .numbers-item
           .numbers-item-icon
                img(src="img/vector/like.svg").numbers-item-img
           .numbers-item-wrap
                span.numbers-item-number 567
                span.numbers-item-text HAPPY CLIENTS