section.process
    .process-container
        h2.process-title Our Work Process
        p.process-text Was years it seasons was there form he in in them together over that, third sixth gathered female creeping bearing behold years.

        //- .process-video-playsHolder
        //-     a.process-video-btn
        //-         img(src="img/vector/play-button.svg", alt="play-button.svg").process-video-btn-icon

        video(controls loop width="1170" height="570" poster="img/video-poster.jpg")#processVideo.process-video
            source(src="other/video.mp4" type="video/mp4")
            Your browser doesn't support HTML5 video tag.