section.services
    .services-container
        .services-item
            object(data="img/vector/diamond.svg", type="image/svg+xml").services-item-icon
            span.services-item-title ui / ux design
            p.services-item-text Be set fourth land god darkness make it wherein own
        
        .services-item
            object(data="img/vector/sun.svg", type="image/svg+xml").services-item-icon
            span.services-item-title web development
            p.services-item-text A she'd them bring void moving third she'd kind fill

        .services-item
            object(data="img/vector/phone.svg", type="image/svg+xml").services-item-icon
            span.services-item-title app / mobile
            p.services-item-text Dominion man second spirit he, earth they're creeping

        .services-item
            object(data="img/vector/world.svg", type="image/svg+xml").services-item-icon
            span.services-item-title game design
            p.services-item-text Morning his saying moveth it multiply appear life be

        .services-item
            object(data="img/vector/plane.svg", type="image/svg+xml").services-item-icon
            span.services-item-title SEO / marketing
            p.services-item-text Give won't after land fill creeping meat you, may

        .services-item
            object(data="img/vector/photo.svg", type="image/svg+xml").services-item-icon
            span.services-item-title photography
            p.services-item-text Creepeth one seas cattle grass give moving saw give

        .services-item
            object(data="img/vector/magic-wand.svg", type="image/svg+xml").services-item-icon
            span.services-item-title graphic design
            p.services-item-text Open, great whales air rule for, fourth life whales

        .services-item
            object(data="img/vector/paint-bucket.svg", type="image/svg+xml").services-item-icon
            span.services-item-title illustrations
            p.services-item-text Whales likeness hath, man kind for them air two won't