section.skills
    .skills-container
        .skills-counters
            h2.skills-title Professional Skills

            ul.skills-list
                li.skills-list-item
                    span.skills-list-title UI/UX Design
                    .skills-list-line
                        .skills-list-line__persent(style="width: 70%")
                li.skills-list-item
                    span.skills-list-title Web development
                    .skills-list-line
                        .skills-list-line__persent(style="width: 50%")
                li.skills-list-item
                    span.skills-list-title Marketing
                    .skills-list-line
                        .skills-list-line__persent(style="width: 40%")

        .skills-img