section.testimonials
    .testimonials-container
        .testimonials-slider#slider
            .testimonials-slider-item.slider-item
                p.slider-item-text Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.
                span.slider-item-author Michael Hopkins
            .testimonials-slider-item.slider-item
                p.slider-item-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto quisquam reiciendis quod cum. Adipisci odio praesentium hic, voluptatibus aliquam ex!
                span.slider-item-author Michael Hopkins 2
            .testimonials-slider-item.slider-item
                p.slider-item-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto quisquam reiciendis quod cum. Adipisci odio praesentium hic, voluptatibus aliquam ex!
                span.slider-item-author Michael Hopkins 3
        






//подключить slick
    