section.works
    .works-container
        .works-item
            img.works-item-img(src="img/300x340.jpg", alt="img/300x340.jpg")
            .works-item-hover
                object.works-item-icon(data="img/vector/view.svg", type="image/svg+xml")
        .works-item
            img.works-item-img(src="img/300x340.jpg", alt="img/300x340.jpg")
        .works-item
            img.works-item-img(src="img/300x340.jpg", alt="img/300x340.jpg")
        .works-item
            img.works-item-img(src="img/300x340.jpg", alt="img/300x340.jpg")
        .works-item
            img.works-item-img(src="img/300x340.jpg", alt="img/300x340.jpg")
        .works-item
            img.works-item-img(src="img/300x340.jpg", alt="img/300x340.jpg")
        .works-item
            img.works-item-img(src="img/300x340.jpg", alt="img/300x340.jpg")
        .works-item
            img.works-item-img(src="img/300x340.jpg", alt="img/300x340.jpg")
    .works-loadMore
        a.works-loadMore-btn load more work